body {
    background-image: url(/Encabezado_celda81.jpg);
    background-position: center;
    background-size: auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 255, 13);
}

a {
  color: #ff0000;
  font-size: 16px;
}

@media print {
    body {
      font-size: 10pt;
    }
  }
  @media screen {
    body {
      font-size: 13px;
    }
  }
  @media screen, print {
    body {
      line-height: 1.2;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
      line-height: 1.4;
    }
  }